.section-title {
    background-color: #f4f5f7;
    padding-left: 6px;
    border-radius: 3px;
    color: #61646e;
    font-weight: 500;
}

.Section {
    margin-top: 5px;
}

.section-body{
    margin-left: auto;
    margin-right: auto;
}