.App {
    margin-top: 10px;

}

.profile-picture {
    border-radius: 50%;
    height: 120px;
}

.divider {
    background-color: black;
    color: black;
    border: none;
    width: 100px;
    height: 5px;
    margin-bottom: 1px;
    border-radius: 15px;
}

.portfolio-links {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.portfolio-links span {
    margin-right: 2px;
    margin-left: 2px;
}

.header {
    text-align: center;
}

@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 800px;
    }
}

@media (min-width: 1200px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 900px;
    }
}


.section-title {
    background-color: #f4f5f7;
    padding-left: 6px;
    border-radius: 3px;
    color: #61646e;
    font-weight: 500;
}

.section {
    margin-top: 5px;
}

.section-body{
    margin-left: auto;
    margin-right: auto;
}